@import "tailwindcss";

body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
}

:root {
  --color-primary:#EEEFE0;
  --color-secondary: #393E46;
  --color-tertiary: #D1D8BE;
  --color-background: #faeee7;
  --color-background-2: #ede8e4;
  
  --color-text-primary: #222831;
  --color-text-secondary: #594a4e;
}

.dark {
  --color-primary: #DFD0B8;
  --color-secondary: #393E46;
  --color-tertiary: #948979;
  --color-background: #222831;
  --color-background-2: #313946;

  --color-text-primary: #EEEFE0;
  --color-text-secondary: #D1D8BE;
}

.bg-primary { background-color: var(--color-primary); }
.bg-secondary { background-color: var(--color-secondary); }
.bg-tertiary { background-color: var(--color-tertiary); }
.bg-custom { background-color: var(--color-background); }
.bg-custom-1 { background-color: var(--color-background-2); }

.text-primary { color: var(--color-primary); }
.text-secondary { color: var(--color-secondary); }
.text-tertiary { color: var(--color-tertiary); }
.text-custom-1 { color: var(--color-text-primary); }
.text-custom-2 { color: var(--color-text-secondary); }

/* Hover states for backgrounds */
.hover\:bg-primary:hover { 
  background-color: var(--color-primary); 
}

.hover\:bg-secondary:hover { 
  background-color: var(--color-secondary); 
}

.hover\:bg-tertiary:hover { 
  background-color: var(--color-tertiary); 
}

.hover\:bg-custom:hover { 
  background-color: var(--color-background); 
}

.hover\:bg-custom-1:hover { 
  background-color: var(--color-background-2); 
}

/* Hover states for text colors */
.hover\:text-primary:hover { 
  color: var(--color-primary); 
}

.hover\:text-secondary:hover { 
  color: var(--color-secondary); 
}

.lg\:text-secondary { 
  @media screen and (min-width: 1024px) {
    color: var(--color-secondary); 
  }
}

.hover\:text-tertiary:hover { 
  color: var(--color-tertiary); 
}

.hover\:text-custom:hover { 
  color: var(--color-text-primary); 
}

/* Group hover states */
.group:hover .group-hover\:text-primary { 
  color: var(--color-primary); 
}

.group:hover .group-hover\:text-secondary { 
  color: var(--color-secondary); 
}

.group:hover .group-hover\:text-tertiary { 
  color: var(--color-tertiary); 
}

.group:hover .group-hover\:text-custom { 
  color: var(--color-text-primary); 
}

/* Estilos personalizados para Markdown */
.prose {
  color: var(--color-text-primary);
}
.prose h2 {
  font-size: 1.450rem;
}

.prose p {
  color: var(--color-text-primary);
  margin-bottom: 1rem;
  line-height: 1.6;
  font-size: 1.250rem;
}

.prose ul, .prose ol {
  color: var(--color-text-primary);
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}

.prose li {
  margin-bottom: 0.5rem;
}

.prose strong {
  color: var(--color-text-primary);
  font-weight: bold;
}

.prose code {
  background-color: var(--color-background-2);
  color: var(--color-text-primary);
  padding: 0.125rem 0.25rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
}
